# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
dist
dist-ssr
coverage
*.local

# Data files
*.zip
*.csv
.fleet

# Editor directories and files
.vscode
.idea

# Local env files
.env
.env.*

# Storage
storage
scripts