@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --animate-arrow: arrow-bounce 1s ease-in-out infinite;

    @keyframes arrow-bounce {

        0%,
        100% {
            transform: translate(var(--x), var(--y)) rotate(var(--dir));
        }

        50% {
            transform: translate(var(--dx), var(--dy)) rotate(var(--dir));
        }
    }

    --animate-modal-background: background-fade-in .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    --animate-modal-background-exit: background-fade-out .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;

    @keyframes background-fade-in {
        0% {
            background: rgba(0, 0, 0, .0);
        }

        100% {
            background: rgba(0, 0, 0, .7);
        }
    }

    @keyframes background-fade-out {
        0% {
            background: rgba(0, 0, 0, .7);
        }

        100% {
            background: rgba(0, 0, 0, .0);
        }
    }

    --animate-modal-background-countries: background-fade-in-countries .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    --animate-modal-background-countries-exit: background-fade-out-countries .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;

    @keyframes background-fade-in-countries {
        0% {
            background: rgba(0, 0, 0, .0);
        }

        100% {
            background: rgba(0, 0, 0, .3);
        }
    }

    @keyframes background-fade-out-countries {
        0% {
            background: rgba(0, 0, 0, .3);
        }

        100% {
            background: rgba(0, 0, 0, .0);
        }
    }

    --animate-modal-rectangle: draw-rectangle .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

    @keyframes draw-rectangle {
        0% {
            stroke-dashoffset: 400%;
        }

        99% {
            stroke-dashoffset: 0%;
        }

        100% {
            stroke: 'none';
        }
    }


    --animate-modal-shape-dark: shape-fade-in-dark .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    --animate-modal-shape-dark-exit: shape-fade-out-dark .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;

    @keyframes shape-fade-in-dark {
        0% {
            background: transparent;
        }

        100% {
            background: rgb(24, 24, 27);
        }
    }

    @keyframes shape-fade-out-dark {
        0% {
            background: rgb(24, 24, 27);
            overflow: hidden;
        }

        100% {
            background: transparent;
            overflow: scroll;
        }
    }

    --animate-modal-shape-light: shape-fade-in-light .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    --animate-modal-shape-light-exit: shape-fade-out-light .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;

    @keyframes shape-fade-in-light {
        0% {
            background: transparent;
        }

        100% {
            background: rgb(255, 255, 255);
        }
    }

    @keyframes shape-fade-out-light {
        0% {
            background: rgb(255, 255, 255);
            overflow: hidden;
        }

        100% {
            background: transparent;
            overflow: scroll;
        }
    }


    --animate-modal-content: content-fade-in .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    --animate-modal-content-exit: content-fade-out .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    --animate-modal-content-transition: content-fade-in 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

    @keyframes content-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes content-fade-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

}